<!DOCTYPE html>
<head>
    <title>WebGL GUI</title>
    <link rel="stylesheet" href="gui.component.css" />
</head>

<section class="sectionContainer">
    <!-- Rotate X -->
    <div id="rotateCameraXDisplay"></div>
    <input
        type="range"
        id="rotateCameraX"
        name="rotateCameraX"
        min="0"
        max="360"
    />
    <label for="rotateCameraX">X</label>

    <!-- Rotate Y -->
    <div id="rotateCameraYDisplay"></div>
    <input
        type="range"
        id="rotateCameraY"
        name="rotateCameraY"
        min="0"
        max="360"
    />
    <label for="rotateCameraY">Y</label>

    <!-- Rotate Z -->
    <div id="rotateCameraZDisplay"></div>
    <input
        type="range"
        id="rotateCameraZ"
        name="rotateCameraZ"
        min="0"
        max="360"
    />
    <label for="rotateCameraZ">Z</label>
</section>
