.propertiesAnchor {
    /* Position */
    position: fixed;
    top: 0;
    right: 0;

    /* Layout */
    display: grid;
    grid-auto-flow: row;

    /* Spacing */
    grid-gap: var(--space-sm);
    padding: var(--space-sm);
    margin: var(--space-sm);
    border-radius: var(--space-xs);

    /* Hue */
    background: var(--background);
    color: var(--font-primary-color);
}
